html
  head
    title="Admin"
    style
      include admin.css
  body
    h2 Users
    ul(id="users")
      each val, index in list
        li
          a(href="http://localhost:7778?admin=1&user=" + val, target="_blank")=val
    br
    h2 Messages
    ul(id="list")


script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js")
script(src="https://code.jquery.com/jquery-3.4.1.min.js")
script.
  var socket = io('http://localhost:7777/admin');
  socket.on('from-web', function(userName, message) {
    $('#list').append("<li>" + userName + ' messaged: ' + message + "</li>");
  });

  socket.on('user-web', function(list) {
    $('#users').html('');
    $.each(list, function(index, value) {
      $('#users').append("<li><a href='http://localhost:7778?admin=1&user=" + value +"' target='_blank'>" + value + "</a></li>");
    })
  });

  socket.on('disconnect', function() {

  })